.navbar {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.has-icon-left:hover {
    cursor: pointer;
}
span {
    font-weight: bold;
}
.home-link {
    width: 100px;
    height: 70px;
    padding-top: 18px;
    padding-bottom: 10px;
    margin-left: 20px;
    text-align:center;
    background-color: rgb(57, 169, 185);
    color: white;
}
.trips-link {
    width: 100px;
    height: 70px;
    padding-top: 18px;
    padding-bottom: 10px;
    margin-left: 20px;
    text-align:center;
    background-color: rgb(57, 169, 185);
    color: white;
}
.home-link:hover {
    color: rgb(57, 169, 185);
    background-color: lightgray;
}
.trips-link:hover {
    color: rgb(57, 169, 185);
    background-color: lightgray;
}
.has-icon-left {
    color: rgb(57, 169, 185);
}
.has-icon-left btn-link {
    color: rgb(57, 169, 185);
}



