<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
            {{> header}}
			<div id="contents">
				<div id="adbox">
					<h1>Fullstack MEAN Project by slate2b</h1>
					<h2>Made using static HTML pages, basic CSS, and images from <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.</h2>
					<h3>
						PROJECT BRANCH 1
					</h3>
					<p>
						The first branch of this project started with static HTML pages, basic CSS, and images from <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and then implemented a basic website using Node.js, npm, and Express.
					</p>
					<h3>
						PROJECT BRANCH 2
					</h3>
					<p>
						The second branch of this project laid the groundwork for an MVC framework and then integrated Handlebars (hbs) partials for the headers and footers which were used for every page.
					</p>
					<h2>The images and content used in this project are almost entirely irrelevant, but wouldn't a vacation to one of these destinations be nice?</h2>
					<img src="images/sea-sound.jpg" alt="Img">
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest Blog</h3>
								<ul>
									<li>
										<h4><a href="/news">2023 Best Beaches Contest Winners</a></h4>
										<span>April 02, 2023</span>
										<p>
											Integer magna leo, posuere et dignissim vitae, porttitor at odio. Pellentesque a metus nec magna placerat volutpat. Nunc nisi mi, elementum sit amet...
										</p>
									</li>
									<li>
										<h4><a href="/news">Top 10 Diving Spots</a></h4>
										<span>May 29, 2023</span>
										<p>
											Maecenas scelerisque odio quis arcu fringilla malesuada. Nulla facilisi. In libero nulla, fermentum ut pretium ac, pharetra et eros...
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Testimonials</h3>
								<p>
									“In hac habitasse platea dictumst. Integer purus justo, egestas eu consectetur eu, cursus in tortor. Quisque nec nunc ac mi ultrices iaculis. Aenean quis elit mauris, nec vestibulum lorem.” <span>- <a href="index.html">Juan De La Cruz</a></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="/rooms"><img src="images/rooms.png" alt="Img"></a>
					</div>
					<div class="section">
						<a href="dives.html"><img src="images/dive-site.png" alt="Img"></a>
					</div>
					<div class="section">
						<a href="foods.html"><img src="images/food.png" alt="Img"></a>
					</div>
				</div>
			</div>
		</div>
        {{> footer}}
	</div>
</body>
</html>