<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
            {{> header}}
			<div id="contents">
				<div id="adbox">
					<h1>Full Stack MEAN Project by slate2b</h1>
					<h3>
						PROJECT OVERVIEW
					</h3>
					<p>This project is a work in progress.</p>
					<p>
						This project starts with a static HTML website made with Node.js and Express, working its way to an MVC architecture with MongoDB and a RESTful API.  The project will eventually become a dynamic web application with a customer-facing site built with Node.js, Express, and MongoDB on one side, and then an SPA built with Angular for site admins on the other side.  
					</p>
					<p>
						This Full Stack MEAN application utilizes the following tools, libraries, modules, etc:
						<ul>
							<li>MongoDB</li>							
							<li>Express</li>
							<li>Angular</li>
							<li>Node.js</li>	
							<li>Handlebars (HBS)</li>
							<li>Mongoose</li>
							<li>Seedgoose</li>
						</ul>
					</p>
					<h2>Made using static HTML pages, basic CSS, and images from <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.</h2>
					<h3>
						PROJECT BRANCH 1
					</h3>
					<p>
						The first branch of this project started with static HTML pages, basic CSS, and images from <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and then implemented a basic website using Node.js and Express.
					</p>
					<h3>
						PROJECT BRANCH 2
					</h3>
					<p>
						The second branch of this project laid the groundwork for an MVC framework and then integrated Handlebars (hbs) partials for the headers and footers which were used for every page.
					</p>
					<h3>
						PROJECT BRANCH 3
					</h3>
					<p>
						The third branch of this project added some additional templating with Handlebars (HBS) as well as working with routes and views to transition from static HTML to dynamic JSON data.
					</p>
					<h3>
						PROJECT BRANCH 4
					</h3>
					<p>
						The fourth branch of this project focused on MongoDB and Mongoose. I created a database in MongoDB and created schema for the travel, meals, and rooms pages.  I used Seedgoose to populate collections for each of those pages with sample data.
					</p>
					<h3>
						PROJECT BRANCH 5
					</h3>
					<p>
						The fifth branch of this project focused on creating a Node.js MongoDB RESTful API with routes and endpoints to access the data in the trips collection in MongoDB.  						
					</p>
					<h3>
					PROJECT BRANCH 6
					</h3>
					<p>
						The sixth branch of this project created an Angular SPA for admin activities, including adding a new trip and editing existing trips.  The admin SPA is tied to the same MongoDB DB as the customer-facing site through the RESTful API.  
					</p>
					<h3>
					PROJECT BRANCH 7
					</h3>
					<p>
						The seventh branch of this project added delete functionality to the Angular SPA for administrators.  
					</p>
					<h3>
					PROJECT BRANCH 8
					</h3>
					<p>
						The eighth branch of this project added authentication to the express backend.  Added api endpoints for registering a new user and logging in, implemented authentication with express-jwt, and then wrapped the addTrip, updateTrip, and deleteTrip API endpoints with the jwt auth.  
					</p>
					<h2>The images and content used in this project are almost entirely irrelevant, but wouldn't a vacation to one of these destinations be nice?</h2>
					<img src="images/sea-sound.jpg" alt="Img">
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest Blog</h3>
								<ul>
									<li>
										<h4><a href="/news">2023 Best Beaches Contest Winners</a></h4>
										<span>April 02, 2023</span>
										<p>
											Integer magna leo, posuere et dignissim vitae, porttitor at odio. Pellentesque a metus nec magna placerat volutpat. Nunc nisi mi, elementum sit amet...
										</p>
									</li>
									<li>
										<h4><a href="/news">Top 10 Diving Spots</a></h4>
										<span>May 29, 2023</span>
										<p>
											Maecenas scelerisque odio quis arcu fringilla malesuada. Nulla facilisi. In libero nulla, fermentum ut pretium ac, pharetra et eros...
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Testimonials</h3>
								<p>
									“In hac habitasse platea dictumst. Integer purus justo, egestas eu consectetur eu, cursus in tortor. Quisque nec nunc ac mi ultrices iaculis. Aenean quis elit mauris, nec vestibulum lorem.” <span>- <a href="index.html">Juan De La Cruz</a></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="/rooms"><img src="images/rooms.png" alt="Img"></a>
					</div>
					<div class="section">
						<a href="/travel"><img src="images/dive-site.png" alt="Img"></a>
					</div>
					<div class="section">
						<a href="/meals"><img src="images/food.png" alt="Img"></a>
					</div>
				</div>
			</div>
		</div>
        {{> footer}}
	</div>
</body>
</html>