div{
    color: rgb(57, 169, 185)
}
h1 {
    margin-bottom: 15px;
}
h3 {
    color: rgb(57, 169, 185)
}
.welcome-banner {
    margin-top: 35px;
    margin-bottom: 40px;
    
}
img {
    margin-top: 15px;
    margin-bottom: 15px;
}
.login-links {
    margin-top: 70px;
}
.login-button {
    background-color: rgb(57, 169, 185);
    width: 100px;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
    padding-top: 10px;
    color: white;
}
.login-button:hover {
    background-color: lightgray;
    color: rgb(57, 169, 185)
}
.trips-listing-links-admin {
    margin-top: 35px;
}
.container {
    margin-bottom: 65px;
}
